.g-signin2{
    width: 100%;
}

.g-signin2 > div{
    margin: 0 auto;
}

.form-group {display: flex;}
.form-control {flex: 1;}
.fa-ra-1x{font-size:1.65em;/*line-height:.75em;vertical-align:-.0667em*/}
.h-10{height:10%!important}
.h-15{height:15%!important}
.negreta{font-weight: bold;}
.product-card{margin-bottom:10px;}
.display-custom {font-size:2.5rem;}

.btn-dark-blue{color:#fff;background-color:#232f3e;border-color:#232f3e}
.btn-dark-blue:hover{color:#fff;background-color:#23272b;border-color:#1d2124}
.btn-dark-blue.focus,.btn-dark-blue:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}
.btn-dark-blue.disabled,.btn-dark-blue:disabled{color:#fff;background-color:#232f3e;border-color:#232f3e}
.btn-dark-blue:not(:disabled):not(.disabled).active,.btn-dark-blue:not(:disabled):not(.disabled):active,.show>.btn-dark-blue.dropdown-toggle{color:#fff;background-color:#1d2124;border-color:#171a1d}.btn-dark-blue:not(:disabled):not(.disabled).active:focus,.btn-dark-blue:not(:disabled):not(.disabled):active:focus,.show>.btn-dark-blue.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}